<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boolzapp</title>
        <link rel="stylesheet" href="./css/app.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/c621ff4416.js" crossorigin="anonymous"></script>
    </head>


    <body>
        <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
        <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>

        <div id="app">
            <!-- webapp -->
            <div class="container">
                <!-- contenitore centrale desktop fullscreen tablet e smartphone -->
                <div class="flex h100">
                    <!-- riga con i due elementi la sidebar e il corpo dell'app -->
                    <aside class="sidebar column h100">
                        <!-- sidebar con 4 elementi headbar notifiche ricerca e chat -->
                        <div class="headbar">
                            <div class="card__head">
                                <!-- headbar con immagine profilo e bottoni con varie funzioni -->
                                <img src="./css/img/avatar_io.jpg" alt="">
                            </div>
                                <menu class="cta-link">
                                <!-- link calltoaction -->
                                <li>
                                    <a href="">
                                        <i class="fa-solid fa-circle-notch"></i>
                                    </a>
                                </li>
                                <li>                                    
                                    <a href="">
                                        <i class="fa-solid fa-message"></i>
                                    </a>
                                </li>
                                <li>                                                       
                                    <a href="">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </a>
                                </li>
                            </menu>
                        </div>
                        <div class="sidebar__notification">
                            <!-- notifiche con icona e attiva notifiche  -->
                            <div class="btn">
                                <i class="fa-solid fa-bell-slash"></i>
                            </div>
                            <div class="notification__text">
                                <p class="bold">Ricevi notifiche di nuovi messaggi</p>
                                <a class="text-gray" href="">Attiva notifiche desktop</a>
                            </div>
                        </div>
                        <div class="sidebar__search">
                            <!-- barra di ricerca momentaneamente p per inserire l'icona -->
                            <div class="searchbox"> 
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <input @keyup="searchThisText"  v-model.trim="searchText" type="text" id="search" placeholder="Cerca o inizia una nuova chat">
                            </div>   
                        </div>
                        <div class="sidebar__chats scroll">
                            <!-- lista contatti con immagine e nome -->
                            <ul>
                                <li v-for= "(contact,i) in contacts" :class="setActive(i)" class="contacts">
                                    <div v-if= "contacts[i].visible === true">
                                        <div class="card" @click="setIndex(i)">
                                            <!-- contatto Michele -->
                                            <div class="card__head">
                                                <img :src ="contact.avatar" alt="">
                                            </div>
                                            <div class="card__body">
                                                <strong>{{ contact.name }}</strong>
                                                <p class="last-message">{{lastMessageRecived(contact.messages).message}}</p>
                                            </div>                                        
                                        </div>
                                        <p class="time">{{lastMessageRecived(contact.messages).date.slice(11,16)}}</p>                                        
                                    </div>                                    
                                </li>
                            </ul>
                        </div>
                    </aside>
                    <main class="app__body flex column h100">
                        <!-- corpo centrale dell'app -->
                        <div class="headbar">
                            <!-- intestazione chat aperta con immagine e nome -->
                            <div class="card">
                                <div class="card__head">
                                    <img :src="currentContact.avatar" alt="">
                                </div>
                                <div class="card__body">
                                    <strong>{{currentContact.name}}</strong>
                                    <p>Ultimo accesso oggi alle {{lastMessageRecived(currentContact.messages).date.slice(11,16)}}</p>
                                </div>  
                            </div> 
                            <menu class="cta-link">
                                <!-- link calltoaction -->
                                <li>
                                    <a href="">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </a>
                                </li>
                                <li>                                    
                                    <a href="">
                                        <i class="fa-solid fa-paperclip"></i>
                                    </a>
                                </li>
                                <li>                                                       
                                    <a href="">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </a>
                                </li>
                            </menu>
                        </div>
                        <div class="body__text-area flex column scroll">
                            <div v-for:= "currentMessage in currentChat" :class="currentMessage.status" class="box flex" >
                                <p class="box__text"> {{ currentMessage.message }}</p>
                                <div class="cta-box flex column">
                                    <i class="fa-solid fa-chevron-down"></i>
                                    <time>{{currentMessage.date.slice(11,16)}}</time>                                
                                </div>
                            </div>
                        </div>
                        <div class="body__send-area flex">
                            <i class="fa-regular fa-face-smile"></i>
                            <textarea @keyup.enter="sendMessage" v-model="newMessage" name="message" id="txt" rows="2"></textarea>
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </main>
                </div>
            </div>
        </div>
        <script src="./js/app.js"></script>
    </body>
</html>